.navbarContainer{
    width: 100%;
    padding: 5px 15px;
    display: flex;
    height: 50px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
   
}

.leftNavbar{
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: 30px;
}

.leftNavbar a{
    text-decoration: none;
}

.leftNavbar p{
    color:#fff;
    cursor: pointer;
   transition: 0.4s ease-in-out;
    padding: 5px;
    border-radius: 5px;
}

.leftNavbar p:hover{
    box-shadow: rgba(238, 233, 233, 0.555) 0px 2px 8px 0px;
}

.leftNavbar p:active{
    transform: scale(0.85);
}

.leftNavbar .logo{
    font-size: 1.1rem;
    font-weight: 600;
}

.leftNavbar p:nth-child(2){
    font-weight: 1rem;
}

.partition{
    display: flex;
    background-color: #c0c0c0;
    width: 1px;
    height: 22px;
}

/* ========= right nevbar start here =========== */

.rightNavbar{
   margin-right: 100px;
   display: flex;
   align-items: center;
}

.rightNavbar button{
    padding: 6px 13px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.308);
    color: #fff;
    border: 1px solid #c0c0c0;
    font-size: 14px;
    font-weight: 500;
    transition: 0.4s ease-in-out;
}

.rightNavbar button:hover{
    /* background-color: #0000ff; */
    background-color: #da0b4e;
   
}

.rightNavbar button:active{
    transform: scale(0.85);
}

/* =========== navbar responsivenes ========== */
@media screen and (max-width : 520px) {
    .rightNavbar{
        margin-right: 25px;
       
    }

    .leftNavbar{
        margin-left: 15px;
    }

}

@media screen and (max-width : 400px) {
    .rightNavbar{
        margin-right: 0px;
        
    }

    .rightNavbar button{
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 500;
       
    }

    .leftNavbar{
        margin-left: 0px;
    }

    
    .leftNavbar p:nth-child(2){
        font-weight: 0.8rem;
    }
}

